header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 40px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Estilos para a seção hero */
.hero {
    background-image: url('imagem_de_fundo.jpg');
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

/* Estilos para a seção de obras em destaque */
.featured-artwork {
    text-align: center;
    padding: 50px 0;
}

.featured-artwork h2 {
    margin-bottom: 20px;
}

/* Estilo para o primeiro cabeçalho */
header {
    background-color: #00376e;
    color: #fff;
    padding: 20px;
}

/* Estilo para o segundo cabeçalho */
.header2 {
    background-color: #003d79;
    color: #000590;
}

/* Estilo para o terceiro cabeçalho */
.header3 {
    background-color: #0255a8;
    color: #fff;
}

.linkvip {
    margin: -190px;
    }



/*slider carrossel*/

.slider {
    display: block;
    height: 293px;
    width: 600px;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;
    border-radius: 30px;
} 


.slider input {
    display: none;
}


.slider label {
    background-color: #ffffff9e;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
}

.slider li:nth-child(1) label {
    left: 10px;
}

.slider li:nth-child(2) label {
    left: 40px;
}

.slider li:nth-child(3) label {
    left: 70px;
} 

.slider img {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
} 
