header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 40px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Estilos para a seção hero */
.hero {
    background-image: url('imagem_de_fundo.jpg');
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

/* Estilos para a seção de obras em destaque */
.featured-artwork {
    text-align: center;
    padding: 50px 0;
}

.featured-artwork h2 {
    margin-bottom: 20px;
}

/* Estilo para o primeiro cabeçalho */
header {
    background-color: #00376e;
    color: #fff;
    padding: 20px;
}

/* Estilo para o segundo cabeçalho */
.header2 {
    background-color: #003d79;
    color: #000590;
}

/* Estilo para o terceiro cabeçalho */
.header3 {
    background-color: #0255a8;
    color: #fff;
}