
    body {
        margin: 0;
    }

    ul.topnav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #6798C0;
        position: relative;
        height: 45px;
    }

    ul.topnav li {
        float: left;
    }

    ul.topnav li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        border-right: solid rgba(255, 255, 255, 0.352);
        transition: 0.2s;
    }

    ul.topnav li a:hover:not(.active) {
        background-color: #5a828889;
    }

    ul.topnav li a.active {
        background-color: #a4ddda;
        font-weight: bold;
        color: rgb(32, 82, 148);
    }

    ul.topnav li a.active:hover {
        background-color: #87ece7;
        font-weight: bold;
        color: rgb(35, 103, 191);
    }

    ul.topnav li.right {
        float: right;
    }

    @media screen and (max-width: 600px) {

        ul.topnav li.right,
        ul.topnav li {
            float: none;
        }
    }

    li {
        font-family: "Barlow Semi Condensed", sans-serif;
    }

    p {
        font-family: "Barlow Semi Condensed", sans-serif;
        color: rgb(255, 255, 255);
    }

    footer {
        padding: 3%;
        background-color: #99dcea;
        font-family: "Barlow Semi Condensed", sans-serif;
        color: rgb(255, 255, 255);
    }

    .logo {
        margin-right: 10px;
        margin-top: -6px;
        height: 60px;
        width: 60px;
    }

    .u {
        width: 30px;
        position: absolute;
        right: 0px;
        margin-right: 312px;
        margin-top: 6px;
        
    }
    .search {
        display: block;
        color: black;
        text-align: center;
        padding: 1px 6px;
        text-decoration: none;
        font-size: 17px;
        float: right;
        margin-top: 10px;
        margin-right: 10px;
      }
      